[Unit]
Description=Bandwidth Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/bw_manager
ExecStart=/usr/bin/python3 /opt/bw_manager/bw_manager.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
